---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { gameLinks } from "../config";
import { Image } from "astro:assets";
import ImageGrid from "../components/mdx/ImageGrid.astro";
---

<Base>

  <section>
  <a href="https://www.kickstarter.com/projects/adamebell/uneasy-lies-the-head-2e?ref=880i70" target="_blank">
  <div class="prose prose-neutral dark:prose-invert">
    <ImageGrid
      columns={1}
      images={[
        {
          src: "/uneasy-press/uneasyheader.jpg",
          alt: "All Games",
        },
      ]}
    />  
  <h1>Uneasy Lies the Head is coming to kickstarter on April 8th!</h1>

  </div>
  <a>
  </section>
  
  <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
  <section>
    <a href={gameLinks.home} target="_blank">
      <Image
        src="/profile.png"
        alt="Profile photo"
        class="rounded-full block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 hover:saturate-150"
        width={200}
        height={200}
      />
    </a>

    <div class="prose prose-neutral dark:prose-invert">
      <h2>About Adam Bell Games</h3>
      <p>
      Welcome! I'm a tabletop game designer and publisher out of Pittsburgh, 
      PA. I make roleplaying and storytelling games that I think you'll really enjoy. 
      </p>
      <p>
      Scroll down for an overview of my games, or check out my {" "}
      <a href={gameLinks.home} target="_blank">store</a>{" "}
      to order physical copies of my games, download supplementary materials from the {" "}
      <a href="/downloads">downloads</a>{" "}
      page, check out some pretty {" "}
      <a href="/photos">photos</a>{" "}
      of the games, or head to {" "}
      <a href={gameLinks.itch} target="_blank">itch.io</a>{" "}
      to pick up pdfs of the games!
      </p>
      <ImageGrid
      columns={1}
      images={[
        {
          src: "/photos/allgames.jpg",
          alt: "All Games",
        },
      ]}
    />
    </div>
  </section>

  <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />
  <section>
    <a href={gameLinks.NSU} target="_blank">
      <Image
        src="/logos/NSU_Circle.png"
        alt="No Stone Unturned"
        class="rounded-full lg:mt-5 mt-0 pt-5 lg:mb-5 mb-5 mx-auto sm:float-right sm:ml-5 sm:mb-5 hover:hue-rotate-90"
        width={150}
        height={150}
      />
    </a>

    <h1 class="mb-2 mt-4 text-2xl font-medium tracking-tight">
      No Stone Unturned
    </h1>
    <h2 class="mb-4 italic">
      Post-post-apocalyptic GMless Roleplaying
    </h2>
    <p class="mb-4 italic text-xs">
      Available in the 
      <a href={gameLinks.NSU} target="_blank" class=" text-blue-300">webshop</a>, at
      <a href="https://tabletopbookshelf.com/products/no-stone-unturned" target="_blank" class="text-blue-300">Tabletop Bookshelf</a>, and
      <a href="https://gamesunl.com/products/no-stone-unturned" target="_blank" class="text-blue-300">Games Unlimited</a>

    </p>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
      A gmless roleplaying game about the effects of exploring a world long after societal collapse. Collaboratively build a world, traverse it together as characters, and track the adventurer's impact on the surrounding environment and themselves. Loosely based on Forged in the Dark & Powered by the Apocalypse games. 
      </p>
      <p>
      To start the game, players collaboratively create the world and settlement their characters will live in. Each player then privately seeds a map of the surrounding area with two potential adventure locations their character knows rumors of. Then the game plays out in a cycle of adventure and downtime. It’s great for one-shots or full campaigns.
      </p>
    </div>
  </section>

<hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

<section>
  <a href={gameLinks.GN} target="_blank">
    <Image
      src="/logos/GN_Circle.png"
      alt="Grasping Nettles"
      class="rounded-full lg:mt-5 mt-0 pt-5 lg:mb-5 mb-5 mx-auto sm:float-right sm:ml-5 sm:mb-5 hover:hue-rotate-90"
      width={150}
      height={150}
    />
  </a>

  <h1 class="mb-2 mt-4 text-2xl font-medium tracking-tight">
    Grasping Nettles
  </h1>
  <h2 class="mb-4 italic">
    Generational Story-Focused Worldbuilding
  </h2>

  
  <p class="mb-4 italic text-xs">
      Available in the 
      <a href={gameLinks.GN} target="_blank" class=" text-blue-300">webshop</a>, at
      <a href="https://tabletopbookshelf.com/products/grasping-nettles" target="_blank" class="text-blue-300">Tabletop Bookshelf</a>, 
      <a href="https://gamesunl.com/products/grasping-nettles" target="_blank" class="text-blue-300">Games Unlimited</a> and
      <a href="https://www.indiepressrevolution.com/xcart/Grasping-Nettles.html" target="_blank" class="text-blue-300">IPR</a>
  </p>


  <div class="prose prose-neutral dark:prose-invert">
    <p>
    A worldbuilding game for 1-6 players about the story of a community over generations. Take turns moving factions around a central game board to add things to the world like factions, locations, issues,  projects,characters, and glimpses of places outside. Fast forward everything a generation and do it all again. 
    </p>
    <p>
    Grasping Nettles is a laid back game that feels expansive when you play. Moving on the wheel to start a turn provides just enough structure to bring out fun but small ideas from each player, building each turn into something bigger. Session length is player-driven, so you can play for for 30 minutes or you can spend all day building a world. 
    </p>
  </div>
</section>

<hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

<section>
  <a href={gameLinks.LHI} target="_blank">
    <Image
      src="/logos/LHI_Circle.png"
      alt="Legend Has It"
      class="rounded-full lg:mt-5 mt-0 pt-5 lg:mb-5 mb-5 mx-auto sm:float-right sm:ml-5 sm:mb-5 hover:hue-rotate-90"
      width={150}
      height={150}
    />
  </a>

  <h1 class="mb-2 mt-4 text-2xl font-medium tracking-tight">
    Legend Has It
  </h1>
  <h2 class="mb-4 italic">
    Bookshelf-driven anthology mythmaking
  </h2>

  <p class="mb-4 italic text-xs">
      Available in the 
      <a href={gameLinks.LHI} target="_blank" class=" text-blue-300">webshop</a> and at
      <a href="https://gamesunl.com/products/legend-has-it" target="_blank" class="text-blue-300">Games Unlimited</a>
  </p>

  <div class="prose prose-neutral dark:prose-invert">
    <p>
    An anthology myth-making card game where excerpts from real books serve as random story prompts. The game gives a random page number & sentence to interpret from the books in play for every beat of each story. When a storyline ends, start the next one with a new book from the shelf! 
    </p>
    <p>
    Legend Has It really taps in to the joy of storytelling. There’s something incredibly fun about pulling sentences from books and shaping them into new narratives. Each new prompt is a total surprise, and thus an engaging challenge to make sense of among your existing stories. As a solo game, it feels like a writer’s workshop. Played in a group, it’s a delight to hear everyone’s ideas meld into an anthology.
    </p>
  </div>
</section>

<hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

<section>
  <a href={gameLinks.MBSB} target="_blank">
    <Image
      src="/logos/MBSB_Circle.png"
      alt="My Brain is a Stick of Butter"
      class="rounded-full lg:mt-5 mt-0 pt-5 lg:mb-5 mb-5 mx-auto sm:float-right sm:ml-5 sm:mb-5 hover:hue-rotate-90"
      width={150}
      height={150}
    />
  </a>

  <h1 class="mb-2 mt-4 text-2xl font-medium tracking-tight">
    My Brain is a Stick of Butter
  </h1>
  <h2 class="mb-4 italic">
    Introspective, single-player ADHD simulation
  </h2>

  <p class="mb-4 italic text-xs">
      Available in the 
      <a href={gameLinks.MBSB} target="_blank" class=" text-blue-300">webshop</a>, at 
      <a href="https://gamesunl.com/products/my-brain-is-a-stick-of-butter" target="_blank" class="text-blue-300">Games Unlimited</a> and
      <a href="https://www.indiepressrevolution.com/xcart/my-brain-is-a-stick-of-butter.html" target="_blank" class="text-blue-300">IPR</a>
  </p>

  <div class="prose prose-neutral dark:prose-invert">
    <p>
      An introspective, single player game about living a week with ADHD. Explore the difficulties of balancing all of life’s tasks. Use a deck of cards and a six-sided die to simulate ADHD related executive dysfunction. Intended to be informative for those without ADHD, and relatable to those with it.
    </p>
    <p>
      my brain is a stick of butter is meant to model some of the struggles I experience due to my ADHD. It was originally a digital only release, but the response I got to it from people who read and played it lead me to produce this nice physical edition. People who don’t have ADHD say it’s helped them understand their friends and loved ones more, and people who do have found it to be almost too relatable.
    </p>
  </div>
</section>
</Base>
